<ion-content [fullscreen]="true">

  <div id="content">

    <div class="msg-sinfotos flex centered" *ngIf="this.fotoService.getFotosPropias().length == 0">
      <p>Todavía no tienes fotos propias.</p>
    </div>

    <ion-card *ngFor="let f of this.fotoService.getFotosPropias()">
      <img alt="Foto del edificio" [src]="f.url" />
      <ion-card-content class="photo-card flexrow">
        <div class="flexrow centered likes" (click)="this.fotoService.like(f)">
          <ion-icon [name]="usuarioVoto(f.votos) ? 'thumbs-up' : 'thumbs-up-outline'"></ion-icon>
          <p>{{f.votos.length}}</p>
        </div>
        <div class="flex">
          <ion-card-title>cosas {{ f.categoria }}</ion-card-title>
          <ion-card-subtitle>{{ (f.fecha.seconds * 1000) | date:'dd/MM/yy - HH:mm' }}</ion-card-subtitle>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <div class="footer-container flexrow">
      <ion-button slot="start" [routerLink]="['/inicio']"> <img class="volver" src="../../../assets/volver.png"
          alt="volver"></ion-button>
      <!-- <ion-button slot="start" [routerLink]="['/inicio']">Volver</ion-button> -->
    </div>
  </ion-toolbar>
</ion-footer>